body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}
#headerflex {
    color: white;
    padding: 24px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
}

.hero {
    width: 1000px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}

.right-side,
.left-side {
    flex: 50%;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
}